<article class="card w-100 my-2 {% if output_file == 'index.html' %}d-none{% endif %}" style="width: 18rem;" data-date="{{ article.date.strftime('%Y-%m-%d') }}">
    <div class="card-body">
        <h5 class="card-title">
            <span class="text-muted">{{ article.date.strftime('%a, %b %d, %Y -  %I:%M %p') | replace(' 0', ' ')}}</span>
        </h5>
        <h5>
            <a href="{{ SITEURL }}/{{ article.url }}" class="text-primary">{{ article.title }}</a>
        </h5>
        {% if article.subtitle %}
        <h6 class="card-subtitle mb-2 text-muted">{{ article.subtitle }}</h6>
        {% endif %}
        {% if article.special %}
        <h6 class="card-subtitle mb-2 text-danger">{{ article.special }}</h6>
        {% endif %}
    </div>
</article>
