<div class="card w-100 my-2" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">
            <span class="text-muted">{{ article.date.strftime('%a, %b %d, %Y -  %I:%M %p') | replace(' 0', ' ')}}</span>
        </h5>
        <h5>
            <a href="{{ SITEURL }}/{{ article.url }}" class="text-danger">{{ article.title }}</a>
        </h5>
        {% if article.special %}
        <h6 class="card-subtitle mb-2 text-primary">{{ article.special }}</h6>
        {% endif %}
    </div>
</div>