<div class="banner">
    <img id="banner-img" alt="rva-skyline" class="img-fluid d-none d-xl-block" 
    src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/skyline.jpg">
    <img id="banner-img" alt="rva-skyline" class="img-fluid d-none d-lg-block d-xl-none" 
    src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/skyline.jpg">
    <img id="banner-img" alt="rva-skyline" class="img-fluid d-none d-md-block d-lg-none" 
    src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/skyline.jpg">
   
    <a href="{{ SITEURL }}/">
        <img id="logo" alt="logo" class="img-fluid d-none d-md-block"  
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/sfpecva.gif">
        <img id="logo" alt="logo" class="img-fluid d-block d-md-none" 
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/sfpecva.gif">
    </a>
  </div>