{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block extra_head %}
{{ super() }}
{% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %}
{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}
{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
    
    <time class="published" datetime="{{ article.date.isoformat() }}">
      {{ article.date.strftime('%a, %b %d, %Y -  %I:%M %p') | replace(' 0', ' ') }}
    </time>
    
    {% if article.authors %}
    <address>
      Presenter: 
      {% for author in article.authors %}
      <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
      {% endfor %}
    </address>
    {% endif %}
    
    {% if article.tags %}
    <div class="tags">
      Topics:
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}"><span class="badge badge-secondary">{{ tag }}</span></a>
      {% endfor %}
    </div>
    {% endif %}
    
  </header>
  <div class="entry-content my-3">
    {{ article.content }}
  </div>
</section>
{% endblock %}