{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block extra_head %}
{{ super() }}
{% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %}
{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}
{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h1><a class='text-danger' href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
    {% if article.subtitle %}<h2 class='text-muted'>{{ article.subtitle }}</h2>{% endif %}
    {% if article.special %}<h3 class='text-primary'>{{ article.special }}</h3>{% endif %}
    
    <time class="published" datetime="{{ article.date.isoformat() }}">
      {{ article.date.strftime('%a, %b %d, %Y -  %I:%M %p') | replace(' 0', ' ') }}
    </time>
    {% if article.lunch %}(Lunch: {{ article.lunch | str2time }}){% endif %}
    {% if article.dinner %}(Dinner: {{ article.dinner | str2time }}){% endif %}

       
    {% if article.tags %}
    <div class="tags">
      Topics:
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}"><span class="badge badge-secondary">{{ tag }}</span></a>
      {% endfor %}
    </div>
    {% endif %}
    
  </header>
  <div class="entry-content my-3">
    {{ article.content }}
  </div>

  {% if article.authors %}
  <address>
    <h3 class='text-danger'>{% if article.authors | length == 1 %}Presenter{% else %}Presenters{% endif %}: </h3>
    {% for author in article.authors %}
    {% include '_author_info.html' %}
    {% endfor %}
  </address>
  {% endif %}
</section>
{% endblock %}