{% extends 'base.html' %}

{% block content %}
    {% block content_title %}
    <h1 class='text-danger'>Welcome</h1>
    <p>Welcome to the Central Virginia Chapter of the Society of Fire Protection Engineers!</p>
    <p>The mission of the international Society of Fire Protection Engineers is “to define, develop, and advance the use of engineering best practices; expand the scientific and technical knowledge base; and educate the global fire safety community, in order to reduce fire risk.”</p>
    <p>Our chapter supports this mission by providing educational, networking, and social opportunities for individuals working in or interested in fields related to fire protection. We hold monthly meetings in Richmond, VA from September through May, except for December. The meeting format is typically a 1 hour educational seminar, followed by a meal and social.</p>
    {% endblock %}

    {% if category == 'officers' %}

        {% for article in articles_page.object_list %}
            {% include '_officer.html' %}
        {% endfor %}
    
    {% else %}

        {% for article in articles_page.object_list | selectattr('category', '==', 'meetings') %}
            {% include '_article_preview.html' %}
        {% endfor %}

    {% endif %}

    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}
{% endblock %}