{% extends 'base.html' %}

{% block content %}
    {% block content_title %}{% endblock %}
    <div id="{% block content_id %}{% endblock %}">
    {% if category == 'officers' %}

        {% for article in articles_page.object_list %}
            {% include '_officer.html' %}
        {% endfor %}

    {% else %}

        {% for article in articles_page.object_list %}
            {% include '_article_preview.html' %}
        {% endfor %}

    {% endif %}
    </div>

    {% if articles_page.has_other_pages() %}
        {% include '_pagination.html' %}
    {% endif %}

{% endblock %}